{% extends 'base/base.html' %}
{% load static %}

{% block title %}Google Site Verification{% endblock %}

{% block meta_description %}Google Site Verification for ShopEarn{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Google Site Verification</h1>
            <p>This page is used to verify ownership of this site with Google Search Console.</p>
        </div>
    </div>
</div>
{% endblock %}